.new .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.new .active, .new .accordion:hover {
  background-color: #ccc;
}
.new .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.new img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}