.result{
  padding: 96px 0 128px;
  background: #3B5888 url("../assets/directionbg.png") -5px center/cover no-repeat;
  &__title{
    color: rgb(216, 171, 104);
  font-size: 40px;
    font-family: Merriweather,sans-serif;
    font-weight: 400;
    text-align: center;
  }
  &__subtitle{
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.51px;
    text-align: center;
  }
  &__nav{
    display: flex;
    justify-content: center;
    column-gap: 23px;
    margin-bottom: 43px;
  }
  &__link{

  }
  &__content{

    padding: 85px 100px;
    background: white;
    border-radius: 30px;
  }
}